.col-sm-12.no-padding-sides
  %ul#exercise-realization-setups-accordion
    - exercise_realization_setups.sort{|a,b| a.exercise_setup.name.downcase<=>b.exercise_setup.name.downcase}.each do |rs|
      %li{:data => {'exercise-realization-setup-id' => rs.id}}
        = render partial: 'exercise_realization_setups/detail', locals: {exercise_realization_setup: rs}
%br{:style=>'clear: both;'}