@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

$blue: #3C8DBC;
$blue2: #C4DDEB;
$blue3: #ECF4F8;

#left-pane-container {
  position: relative;
  #left-pane {
    position: absolute;
    width: 90%;
    padding: 0;
    .tab-content {
      margin-top: 10px;
    }
    #exercises {
      input {
        margin: 0;
      }
      ul {
        list-style-type: none;
        padding: 0;
        li.box {
          cursor: move;
          margin: 0;
          font-size: 90%;
        }
      }
      .nav a {
        outline: 0;
      }
      .well {
        margin-bottom: 0;
        margin-top: 10px;
      }
      #entries-info {
        display: inline;
        font-size: 90%;
      }
    }
    #settings {
      display: none;
      #realization-setups {
        .col-sm-12 {
          padding: 0;
        }
        #exercise-setups-used {
          #exercise-setups-used-wrapper {
            ul {
              max-height: 150px;
              overflow-y: auto;
              list-style-type: none;
              padding: 0;
              min-height: 50px;
              li {
                position: relative;
                margin: 0;
                padding: 0;
                border-bottom: 1px solid #000;
                font-size: 80%;
                h5 {
                  padding: 0;
                  margin: 0;
                  &:hover {

                  }
                }
                .btns-block {
                  position: absolute;
                  bottom: 5px;
                  right: 5px;
                  .btn {
                    visibility: hidden;
                    display: inline;
                  }
                }

                &:hover {
                  background: $blue2;
                  cursor: pointer;
                  .btn {
                    visibility: visible;
                  }
                }
              }
            }
          }
        }
        #exercise-setups-available {
          .box-body {
            padding-top: 0;
          }
          #exercise-setups-available-form {
          }
          #exercise-setups-available-wrapper {
            ul {
              list-style-type: none;
              padding: 0;
              li.box {
                margin: 0;
                padding: 0;
                .box-body {
                  min-height: 50px;
                  font-size: 85%;
                  padding: 5px 5px 0 5px;
                  h5 {
                    padding: 0;
                    margin: 0;
                  }
                  .active {
                    background: $blue3;
                  }
                }
                .btn {
                  visibility: hidden;
                  position: absolute;
                  right: 5px;
                  bottom: 5px;
                }
                &:hover {
                  .btn {
                    visibility: visible;
                  }
                  .box-body {
                    background: #deffd5;
                  }
                }
              }
            }

          }
        }
        #exercise-setups-edit {
          display: none;
        }
      }

      .draggable {
        list-style-type: none;
        margin: 0;
        height: 130px;
        width: 50%;
        overflow: hidden;
        &:hover {
          cursor: move;
        }
      }
    }
  }
}

#right-pane {
  #owl-carousel {
    z-index: 10000;
  }
  .owl-carousel-before {
    margin-right: 1%;
    width: 3%;
  }
  .owl-carousel-after {
    margin-left: 1%;
    width: 3%;
  }
  .owl-carousel-before, .owl-carousel-after {
    float: left;
    .owl-carousel-prev, .owl-carousel-next {
      cursor: pointer;
      margin: 5px 0 0 0;
      &:hover {
        color: #3C8DBC;
      }
    }
  }

  .owl-carousel {
    float: left;
    width: 90%;
  }
  .player-plan-wrapper {
    &:hover {
      cursor: ew-resize;
    }
    ul.player-plan {
      list-style-type: none;
      min-height: 50px;
      margin: 0;
      padding: 0;
      &:hover {
        cursor: ns-resize;
      }
      .realization {
        .realization-duration, .realization-rest {
          margin: 0;
        }
        .realization-duration {
          position: relative;
          background: $blue2;
          img {
            margin: 0px 5px 0 0;
            width: 50px;
            float: left;
          }
          .btns-block {
            position: absolute;
            right: 5px;
            bottom: 5px;
          }
          .btn {
            visibility: hidden;
            display: inline;
          }
        }
        .realization-rest {
          background: $blue3;
          border-top-color: #ebebeb;
        }
        &:hover {
          .btn {
            visibility: visible;
          }
          .realization-duration, .realization-rest {
            background: $blue;
          }
        }
      }
    }
    .title {
      margin-left: 10px;
    }
  }
}

.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Special states */
.draggable-helper {
  list-style-type: none;
  width: 200px;
  height: 50px;
  overflow: hidden;
}
.sortable-active {
  background: $blue;
  color: white;
}
.player-plan-dragged {
}
.active-highlight {
  font-weight: bold;
  background: $blue2;
  padding-left: 5px;
  //border-left: 2px solid $blue;
}
.ui-accordion-header-active, .ui-accordion-content-active {
  border-left: 2px solid $blue;
  padding-left: 5px;
}