$blue: #3C8DBC;
$blue2: #C4DDEB;
$blue3: #ECF4F8;
$light-green: #DEFFD5;

#left-pane-container {
  position: relative;
  #left-pane {
    position: absolute;
    width: 90%;
    padding: 0;
    .tab-content {
      margin-top: 10px;
    }
    #exercises {
      input {
        margin: 0;
      }
      ul {
        list-style-type: none;
        padding: 0;
        li.box {
          cursor: move;
          margin: 0;
          font-size: 90%;
        }
      }
      .nav a {
        outline: 0;
      }
      .well {
        margin-bottom: 0;
        margin-top: 10px;
      }
      #entries-info {
        display: inline;
        font-size: 90%;
      }
      #favorite-plans-content {
        ul {
          max-height: 150px;
          overflow-y: auto;
          list-style-type: none;
          padding: 0;
          min-height: 50px;
          li {
            position: relative;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid #000;
            font-size: 90%;
            h5 {
              padding: 0;
              margin: 0;
              &:hover {

              }
            }
            &:hover {
              background: $blue2;
              cursor: pointer;
              .btn {
                visibility: visible;
              }
            }
          }
        }
      }
    }
    #settings {
      display: none;
      #realization-setups, #realization-sets {
        #exercise-setups-used, #exercise-set-setups-used {
          #exercise-setups-used-wrapper, #exercise-set-setups-used-wrapper {
            ul {
              max-height: 150px;
              overflow-y: auto;
              list-style-type: none;
              padding: 0;
              min-height: 50px;
              li {
                position: relative;
                margin: 0;
                padding: 0;
                border-bottom: 1px solid #000;
                font-size: 80%;
                h5 {
                  padding: 0;
                  margin: 0;
                  &:hover {

                  }
                }
                &:hover {
                  background: $blue2;
                  cursor: pointer;
                  .btn {
                    visibility: visible;
                  }
                }
              }
            }
          }
        }
        #exercise-setups-available, #exercise-set-setups-available {
          .box-body {
            padding-top: 0;
          }
          #exercise-setups-available-form, #exercise-set-setups-available-form {
            margin-bottom: 10px;
          }
          #exercise-setups-available-wrapper, #exercise-set-setups-available-wrapper {
            ul {
              list-style-type: none;
              padding: 0;
              li.box {
                margin: 0;
                padding: 0;
                .box-body {
                  min-height: 50px;
                  font-size: 85%;
                  padding: 5px 5px 0 5px;
                  h5 {
                    padding: 0;
                    margin: 0;
                  }
                  .active {
                    background: $blue3;
                  }
                }
                .btn {
                  visibility: hidden;
                  position: absolute;
                  right: 5px;
                  bottom: 5px;
                }
                &:hover {
                  .btn {
                    visibility: visible;
                  }
                  .box-body {
                    background: $light-green;
                  }
                }
              }
            }

          }
        }
        #exercise-setups-edit, #exercise-set-setups-edit {
          display: none;
        }
      }
      #realization-sets {
        #exercise-set-errors {
          display: none;
          margin: 0 0 5px 0;
        }
        #exercise-set-realizations {
          #exercise-set-realizations-wrapper {
            ul {
              list-style-type: none;
              li {
                padding: 0;
                margin: 0;
                position: relative;
                font-size: 90%;
                min-height: 30px; // this is here because of sortable helpers
                .exercise-set-realization-duration {
                  min-height: 30px;
                  padding: 5px 0 0 5px;
                  background: $blue2;
                }
                .exercise-set-realization-rest {
                  padding: 5px 0 0 5px;
                  background: $blue3;
                }
                &:hover{
                  cursor: move;
                  background: $blue;
                  .exercise-set-realization-duration, .exercise-set-realization-rest {
                    background: $blue;
                  }
                  .btn {
                    visibility: visible;
                  }
                }
              }
            }
          }
          .set-realizations-sortable-active {
            height: 30px !important;
            overflow: hidden;
          }
        }
        #exercise-set-realization-edit {
          display: none;
        }
      }

      .draggable {
        list-style-type: none;
        margin: 0;
        height: 130px;
        width: 50%;
        overflow: hidden;
        &:hover {
          cursor: move;
        }
      }
    }
  }
}

#right-pane {
  .owl-carousel-before, .owl-carousel-after {
    float: left;
    width: 40px;
    .owl-carousel-prev {
      float: left;
    }
    .owl-carousel-next {
      float: right;
    }
    .owl-carousel-prev, .owl-carousel-next {
      color: #b5b5b5;
      margin: 0 5px 5px 5px;
      cursor: pointer;
      &:hover {
        color: #3C8DBC;
      }
    }
  }
  .owl-carousel {
    width: calc(100% - 80px);
    float: left;
    .player-plan-wrapper {
      .box {
        position: relative;
        .favorite-plan-link {
          display: none;
          position: absolute;
          right: 20px;
          top: 10px;
          opacity: .5;
          z-index: 10;
          &:hover {
            opacity: 1;
          }
        }
        .box-title {
        }
        .box-body {
          ul.player-plan {
            list-style-type: none;
            min-height: 50px;
            margin: 0;
            padding: 0;
            &:hover {
              cursor: ns-resize;
            }
            .realization {
              .realization-duration, .realization-rest {
                margin: 0;
              }
              .realization-duration {
                position: relative;
                background: $blue2;
                img {
                  margin: 4px 5px 0 0;
                  width: 50px;
                  float: left;
                }
              }
              .realization-rest {
                background: $blue3;
                border-top-color: #ebebeb;
              }
              &:hover {
                .btn {
                  visibility: visible;
                }
                .realization-duration, .realization-rest {
                  background: $blue;
                }
              }
            }
          }
          .remaining-time {
            position: relative;
            border-top: 1px dashed #b5b5b5;
            font-size: 80%;
            padding: 0;
            .progress-bar {
              color: black;
              span {
                position: absolute;
                display: block;
              }
            }
          }
        }
        &:hover {
          .favorite-plan-link {
            display: inline-block;
          }
        }
      }
      &:hover {
        cursor: ew-resize;
      }
    }
  }

}

.no-padding-sides {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btns-block {
  position: absolute;
  bottom: 5px;
  right: 5px;
  .btn {
    visibility: hidden;
    display: inline;
  }
}

/* Special states */
.draggable-helper {
  list-style-type: none;
  width: 200px;
  height: 50px;
  overflow: hidden;
}
.sortable-active {
  background: $blue;
  color: white;
  height: 75px !important;
  border-bottom: 2px dashed #000;
  overflow: hidden;
}
.player-plan-dragged {
}
.active-highlight {
  font-weight: bold;
  background: $blue2;
  padding-left: 5px;
  //border-left: 2px solid $blue;
}